* {
  margin: 0;
  padding: 0;
}

body {

}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.btn {
background-color: green;
width: 135px;
height: 25px;
margin: 18px;
 }